@{
    ViewData["Title"] = "Home Page";

    var subbestSalesMobiles1 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubbestSalesMobiles1;
    var subbestSalesMobiles2 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubbestSalesMobiles2;
    var subbestSalesMobiles3 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubbestSalesMobiles3;
    var subbestSalesMobiles4 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubbestSalesMobiles4;
    var subbestSalesAccessories1 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubbestSalesAccessories1;
    var subbestSalesAccessories2 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubbestSalesAccessories2;
    var subbestSalesAccessories3 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubbestSalesAccessories3;
    var subbestSalesAccessories4 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubbestSalesAccessories4;
}
<div class="container">
    <div class="bg-light rounded shadow p-3">
        <div id="carouselPromotionBanner" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @{
                    int indexNumber = 0;
                }
                @foreach (var promotionBanner in ViewBag.PromotionBanners)
                {
                    <button type="button" data-bs-target="#carouselPromotionBanner" data-bs-slide-to="@indexNumber" class="@(indexNumber == 0 ? "active" : "")" aria-current="true"></button>
                    indexNumber++;
                }
            </div>
            <div class="carousel-inner">
                @{
                    int indexBanner = 0;
                }
                @foreach (var promotionBanner in ViewBag.PromotionBanners)
                {

                    <div class="carousel-item @(indexBanner == 0 ? "active" : "")">
                        <img src="@("~/lib/images/banners/" + promotionBanner.Image)" asp-append-version="true" class="rounded d-block w-100" height="300" alt="@promotionBanner.Name">
                    </div>

                    indexBanner++;
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromotionBanner" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPromotionBanner" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row row-cols-4 row-cols-md-4 g-4">
        <div class="col">
            <div class="card rounded-0 shadow">
                <div class="card-body border-bottom">
                    <h5 class="card-title text-secondary">Mobile phones</h5>
                </div>
                <div class="card-body">
                    <a asp-area="" asp-controller="MobilePhones" asp-action="Index">
                        <img src="~/lib/images/Other/mobile-phone.jpg" class="card-img-top" alt="mobilephone">
                    </a>
                </div>
                <div class="card-body">
                    <a class="card-text text-decoration-none text-info " asp-area="" asp-controller="MobilePhones" asp-action="Index">See more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0 shadow">
                <div class="card-body border-bottom">
                    <h5 class="card-title text-secondary">Earphones</h5>
                </div>
                <div class="card-body">
                    <a asp-area="" asp-controller="Earphones" asp-action="Index">
                        <img src="~/lib/images/Other/ear-phone.jpg" class="card-img-top" alt="Earphones">
                    </a>
                </div>
                <div class="card-body">
                    <a class="card-text text-decoration-none text-info " asp-area="" asp-controller="Earphones" asp-action="Index">See more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0 shadow">
                <div class="card-body border-bottom">
                    <h5 class="card-title text-secondary">Phone Cases</h5>
                </div>
                <div class="card-body">
                    <a asp-area="" asp-controller="PhoneCases" asp-action="Index">
                        <img src="~/lib/images/Other/phone-cases.jpg" class="card-img-top" alt="PhoneCases">
                    </a>
                </div>
                <div class="card-body">
                    <a class="card-text text-decoration-none text-info " asp-area="" asp-controller="PhoneCases" asp-action="Index">See more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0 shadow">
                <div class="card-body border-bottom">
                    <h5 class="card-title text-secondary">Backup Charger</h5>
                </div>
                <div class="card-body">
                    <a asp-area="" asp-controller="BackupChargers" asp-action="Index">
                        <img src="~/lib/images/Other/backup-charger.jpg" class="card-img-top" alt="Backup Chargers">
                    </a>
                </div>
                <div class="card-body">
                    <a class="card-text text-decoration-none text-info " asp-area="" asp-controller="BackupChargers" asp-action="Index">See more</a>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.BestSalesMobiles.Count > 0)
{
    <div class="container mt-2">
        <div class="row d-flex justify-content-center py-3">
            <div class="col-md-12 shadow px-4">
                <h5 class="text-left text-secondary border-bottom my-3">
                    Top Sellers in Mobile Phones
                </h5>
                <div>
                    <div id="carouselBestSalesMobilePhones" class="carousel slide carouselItems" data-bs-interval="false" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @if (ViewBag.SubbestSalesMobiles1.Count > 0)
                            {
                                <div class="carousel-item active">
                                    <div class="row">
                                        @{
                                            int indexSlide1 = 0;
                                        }
                                        @foreach (var subbestSalesMobile1 in subbestSalesMobiles1)
                                        {
                                            <div class="col @(indexSlide1 == 0 ? "ms-4" : "")">
                                                <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subbestSalesMobile1.ItemId">
                                                    <img src="@("~/lib/images/" + subbestSalesMobile1.Image)" asp-append-version="true" class="img-fluid" alt="@subbestSalesMobile1.Name" />
                                                    <h6 class="text-secondary">@Html.DisplayFor(model => subbestSalesMobile1.Name)</h6>
                                                    @if (subbestSalesMobile1.Price != subbestSalesMobile1.PromotionPrice)
                                                    {
                                                        <p class="card-text text-decoration-line-through text-secondary m-0 p-0" style="font-size: 0.85rem;">@Html.DisplayFor(modelItem => subbestSalesMobile1.Price) ₫</p>
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesMobile1.PromotionPrice) ₫ &ensp; <span class="text-secondary" style="font-size: 0.9rem;">-@Html.DisplayFor(modelItem => subbestSalesMobile1.PromotionPercentageConvert)%</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesMobile1.Price) ₫</p>
                                                    }
                                                </a>
                                            </div>
                                            indexSlide1++;
                                        }
                                    </div>
                                </div>
                            }
                            @if (ViewBag.SubbestSalesMobiles2.Count > 0)
                            {
                                <div class="carousel-item">
                                    <div class="row">
                                        @{
                                            int indexSlide2 = 0;
                                        }
                                        @foreach (var subbestSalesMobile2 in subbestSalesMobiles2)
                                        {
                                            <div class="col @(indexSlide2 == 0 ? "ms-4" : "")">
                                                <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subbestSalesMobile2.ItemId">
                                                    <img src="@("~/lib/images/" + subbestSalesMobile2.Image)" asp-append-version="true" class="img-fluid" alt="@subbestSalesMobile2.Name" />
                                                    <h6 class="text-secondary">@Html.DisplayFor(model => subbestSalesMobile2.Name)</h6>
                                                    @if (subbestSalesMobile2.Price != subbestSalesMobile2.PromotionPrice)
                                                    {
                                                        <p class="card-text text-decoration-line-through text-secondary m-0 p-0" style="font-size: 0.85rem;">@Html.DisplayFor(modelItem => subbestSalesMobile2.Price) ₫</p>
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesMobile2.PromotionPrice) ₫ &ensp; <span class="text-secondary" style="font-size: 0.9rem;">-@Html.DisplayFor(modelItem => subbestSalesMobile2.PromotionPercentageConvert)%</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesMobile2.Price) ₫</p>
                                                    }
                                                </a>
                                            </div>
                                            indexSlide2++;
                                        }
                                    </div>
                                </div>
                            }
                            @if (ViewBag.SubbestSalesMobiles3.Count > 0)
                            {
                                <div class="carousel-item">
                                    <div class="row">
                                        @{
                                            int indexSlide3 = 0;
                                        }
                                        @foreach (var subbestSalesMobile3 in subbestSalesMobiles3)
                                        {
                                            <div class="col @(indexSlide3 == 0 ? "ms-4" : "")">
                                                <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subbestSalesMobile3.ItemId">
                                                    <img src="@("~/lib/images/" + subbestSalesMobile3.Image)" asp-append-version="true" class="img-fluid" alt="@subbestSalesMobile3.Name" />
                                                    <h6 class="text-secondary">@Html.DisplayFor(model => subbestSalesMobile3.Name)</h6>
                                                    @if (subbestSalesMobile3.Price != subbestSalesMobile3.PromotionPrice)
                                                    {
                                                        <p class="card-text text-decoration-line-through text-secondary m-0 p-0" style="font-size: 0.85rem;">@Html.DisplayFor(modelItem => subbestSalesMobile3.Price) ₫</p>
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesMobile3.PromotionPrice) ₫ &ensp; <span class="text-secondary" style="font-size: 0.9rem;">-@Html.DisplayFor(modelItem => subbestSalesMobile3.PromotionPercentageConvert)%</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesMobile3.Price) ₫</p>
                                                    }
                                                </a>
                                            </div>
                                            indexSlide3++;
                                        }
                                    </div>
                                </div>
                            }
                            @if (ViewBag.SubbestSalesMobiles4.Count > 0)
                            {
                                <div class="carousel-item">
                                    <div class="row">
                                        @{
                                            int indexSlide4 = 0;
                                        }
                                        @foreach (var subbestSalesMobile4 in subbestSalesMobiles4)
                                        {
                                            <div class="col @(indexSlide4 == 0 ? "ms-4" : "")">
                                                <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subbestSalesMobile4.ItemId">
                                                    <img src="@("~/lib/images/" + subbestSalesMobile4.Image)" asp-append-version="true" class="img-fluid" alt="@subbestSalesMobile4.Name" />
                                                    <h6 class="text-secondary">@Html.DisplayFor(model => subbestSalesMobile4.Name)</h6>
                                                    @if (subbestSalesMobile4.Price != subbestSalesMobile4.PromotionPrice)
                                                    {
                                                        <p class="card-text text-decoration-line-through text-secondary m-0 p-0" style="font-size: 0.85rem;">@Html.DisplayFor(modelItem => subbestSalesMobile4.Price) ₫</p>
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesMobile4.PromotionPrice) ₫ &ensp; <span class="text-secondary" style="font-size: 0.9rem;">-@Html.DisplayFor(modelItem => subbestSalesMobile4.PromotionPercentageConvert)%</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesMobile4.Price) ₫</p>
                                                    }
                                                </a>
                                            </div>
                                            indexSlide4++;
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselBestSalesMobilePhones" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselBestSalesMobilePhones" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.BestSalesAccessories.Count > 0)
{
    <div class="container mt-2">
        <div class="row d-flex justify-content-center py-3">
            <div class="col-md-12 shadow px-4">
                <h5 class="text-left text-secondary border-bottom my-3">
                    Top Sellers in Accessories
                </h5>
                <div>
                    <div id="carouselBestSalesAccessories" class="carousel slide carouselItems" data-bs-interval="false" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @if (ViewBag.SubbestSalesAccessories1.Count > 0)
                            {
                                <div class="carousel-item active">
                                    <div class="row">
                                        @{
                                            int indexSlide1 = 0;
                                        }
                                        @foreach (var subbestSalesAccessory1 in subbestSalesAccessories1)
                                        {
                                            <div class="col @(indexSlide1 == 0 ? "ms-4" : "")">
                                                <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subbestSalesAccessory1.ItemId">
                                                    <img src="@("~/lib/images/" + subbestSalesAccessory1.Image)" asp-append-version="true" class="img-fluid" alt="@subbestSalesAccessory1.Name" />
                                                    <h6 class="text-secondary">@Html.DisplayFor(model => subbestSalesAccessory1.Name)</h6>
                                                    @if (subbestSalesAccessory1.Price != subbestSalesAccessory1.PromotionPrice)
                                                    {
                                                        <p class="card-text text-decoration-line-through text-secondary m-0 p-0" style="font-size: 0.85rem;">@Html.DisplayFor(modelItem => subbestSalesAccessory1.Price) ₫</p>
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesAccessory1.PromotionPrice) ₫ &ensp; <span class="text-secondary" style="font-size: 0.9rem;">-@Html.DisplayFor(modelItem => subbestSalesAccessory1.PromotionPercentageConvert)%</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesAccessory1.Price) ₫</p>
                                                    }
                                                </a>
                                            </div>
                                            indexSlide1++;
                                        }
                                    </div>
                                </div>
                            }
                            @if (ViewBag.SubbestSalesAccessories2.Count > 0)
                            {
                                <div class="carousel-item">
                                    <div class="row">
                                        @{
                                            int indexSlide2 = 0;
                                        }
                                        @foreach (var subbestSalesAccessory2 in subbestSalesAccessories2)
                                        {
                                            <div class="col @(indexSlide2 == 0 ? "ms-4" : "")">
                                                <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subbestSalesAccessory2.ItemId">
                                                    <img src="@("~/lib/images/" + subbestSalesAccessory2.Image)" asp-append-version="true" class="img-fluid" alt="@subbestSalesAccessory2.Name" />
                                                    <h6 class="text-secondary">@Html.DisplayFor(model => subbestSalesAccessory2.Name)</h6>
                                                    @if (subbestSalesAccessory2.Price != subbestSalesAccessory2.PromotionPrice)
                                                    {
                                                        <p class="card-text text-decoration-line-through text-secondary m-0 p-0" style="font-size: 0.85rem;">@Html.DisplayFor(modelItem => subbestSalesAccessory2.Price) ₫</p>
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesAccessory2.PromotionPrice) ₫ &ensp; <span class="text-secondary" style="font-size: 0.9rem;">-@Html.DisplayFor(modelItem => subbestSalesAccessory2.PromotionPercentageConvert)%</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesAccessory2.Price) ₫</p>
                                                    }
                                                </a>
                                            </div>
                                            indexSlide2++;
                                        }
                                    </div>
                                </div>
                            }
                            @if (ViewBag.SubbestSalesAccessories3.Count > 0)
                            {
                                <div class="carousel-item">
                                    <div class="row">
                                        @{
                                            int indexSlide3 = 0;
                                        }
                                        @foreach (var subbestSalesAccessory3 in subbestSalesAccessories3)
                                        {
                                            <div class="col @(indexSlide3 == 0 ? "ms-4" : "")">
                                                <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subbestSalesAccessory3.ItemId">
                                                    <img src="@("~/lib/images/" + subbestSalesAccessory3.Image)" asp-append-version="true" class="img-fluid" alt="@subbestSalesAccessory3.Name" />
                                                    <h6 class="text-secondary">@Html.DisplayFor(model => subbestSalesAccessory3.Name)</h6>
                                                    @if (subbestSalesAccessory3.Price != subbestSalesAccessory3.PromotionPrice)
                                                    {
                                                        <p class="card-text text-decoration-line-through text-secondary m-0 p-0" style="font-size: 0.85rem;">@Html.DisplayFor(modelItem => subbestSalesAccessory3.Price) ₫</p>
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesAccessory3.PromotionPrice) ₫ &ensp; <span class="text-secondary" style="font-size: 0.9rem;">-@Html.DisplayFor(modelItem => subbestSalesAccessory3.PromotionPercentageConvert)%</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesAccessory3.Price) ₫</p>
                                                    }
                                                </a>
                                            </div>
                                            indexSlide3++;
                                        }
                                    </div>
                                </div>
                            }
                            @if (ViewBag.SubbestSalesAccessories4.Count > 0)
                            {
                                <div class="carousel-item">
                                    <div class="row">
                                        @{
                                            int indexSlide4 = 0;
                                        }
                                        @foreach (var subbestSalesAccessory4 in subbestSalesAccessories4)
                                        {
                                            <div class="col @(indexSlide4 == 0 ? "ms-4" : "")">
                                                <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subbestSalesAccessory4.ItemId">
                                                    <img src="@("~/lib/images/" + subbestSalesAccessory4.Image)" asp-append-version="true" class="img-fluid" alt="@subbestSalesAccessory4.Name" />
                                                    <h6 class="text-secondary">@Html.DisplayFor(model => subbestSalesAccessory4.Name)</h6>
                                                    @if (subbestSalesAccessory4.Price != subbestSalesAccessory4.PromotionPrice)
                                                    {
                                                        <p class="card-text text-decoration-line-through text-secondary m-0 p-0" style="font-size: 0.85rem;">@Html.DisplayFor(modelItem => subbestSalesAccessory4.Price) ₫</p>
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesAccessory4.PromotionPrice) ₫ &ensp; <span class="text-secondary" style="font-size: 0.9rem;">-@Html.DisplayFor(modelItem => subbestSalesAccessory4.PromotionPercentageConvert)%</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text m-0 p-0 fs-6">@Html.DisplayFor(modelItem => subbestSalesAccessory4.Price) ₫</p>
                                                    }
                                                </a>
                                            </div>
                                            indexSlide4++;
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselBestSalesAccessories" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselBestSalesAccessories" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}