@model MobileShop.Models.CheckOut

@{
    ViewData["Title"] = "Check Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="text-secondary">@ViewData["Title"]</h5>

@{
    decimal total = 0;
    int totalItem = 0;
}

<div class="row product-option">
    <div class="col-8">
        <table class="table lh-sm">
            <tr class="row lh-1">
                <td style="font-size: 0.9rem;">
                    <p>
                        @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(model => model.PhoneNumber)
                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)
                    </p>
                </td>
            </tr>
            @foreach (var cartItem in Model.CartItem)
            {
                var totalPrice = cartItem.Quantity * cartItem.Item.Price;
                total += totalPrice;
                totalItem += cartItem.Quantity;

                <tr class="row">
                    <td class="d-flex justify-content-start col-7" style="font-size: 0.9rem;">
                        <img class="me-2" style="width: 7rem;" src="~/lib/images/@Html.DisplayFor(modelItem => cartItem.Item.Image)">
                        <text>
                            <p class="mb-2">
                                @Html.DisplayFor(modelItem => cartItem.Item.Name)
                            </p>
                        </text>
                    </td>
                    <td class="col-2">
                        <p class="text-secondary mb-2" style="font-size: 0.9rem;" asp-for="@cartItem.Quantity" id="@($"quantity-{cartItem.Item.ItemId}")">Qty: @cartItem.Quantity</p>
                    </td>
                    <td class="d-flex flex-column justify-content-between text-end col-3">
                        <span>@Html.DisplayFor(modelItem => cartItem.Item.Price) ₫</span>
                        <span>
                            <a asp-area="" asp-controller="Cart" asp-action="RemoveCart"
                               asp-route-itemId="@cartItem.Item.ItemId" class="btn text-secondary">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-4 options">
        <table class="table table-borderless border-start lh-1">
            <tr style="white-space: nowrap; overflow: hidden;">
                <td class="text-secondary" style="font-size: 0.9rem;">
                    Total(@totalItem item(s))
                </td>
                <td>@(total.ToString("n0")) ₫</td>
            </tr>
            <tr class="border-top">
                <td colspan="2">Payment Method: </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="text-secondary text-decoration-none" asp-area="" asp-controller="CheckOut" asp-action="PaypalCheckOut">
                        <div class="input-group rounded-0 shadow bg-light" style="background-color: rgb(0, 69, 124) !important">
                            <span class="input-group-text bg-light border-0 rounded-0 py-1" id="paypal">
                                <img style="width: 3rem;" src="~/lib/images/payment/paypal.png" alt="Paypal" />
                            </span>
                            <span class="fs-5 text-white d-flex justify-content-center align-items-center ms-5" aria-describedby="paypal">Paypal</span>
                        </div>
                    </a>
                </td>
            </tr>
        </table>

    </div>
</div>