@model IEnumerable<MobileShop.Areas.Admin.Models.ReplyReview>

@using Microsoft.AspNetCore.Identity
@using MobileShop.Areas.Identity.Data
@inject SignInManager<MobileShopUser> SignInManager
@inject UserManager<MobileShopUser> UserManager

@{
    ViewData["Title"] = "Reply Reviews";
    Layout = "~/Areas/Admin/Views/shared/_layout.cshtml";
}

<div class="border-bottom m-0 p-0 mb-2">
    <h5>User Management / Reply Reviews</h5>
</div>

<div class="d-flex justify-content-between m-0 p-0 mb-2">
    <form asp-controller="ReplyReviews" asp-action="Index">
        <div class="input-group">
            <input class="search-field border-0" type="text" placeholder="  Filtering ..." name="SearchString" />
            <button class="btn btn-info text-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
</div>

<div class="table-responsive shadow rounded-0">
    <table class="table table-bordered table-hover table-sm my-3">
        <thead>
            <tr>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["UserReviewSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.Review)
                    </a>
                </th>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["UserReplySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.UserName)
                    </a>
                </th>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["UserReplySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.UserRole)
                    </a>
                </th>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["CommentSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.Comment)
                    </a>
                </th>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["ReplyDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.ReplyDate)
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Review.UserName)
                        /
                        @Html.DisplayFor(modelItem => item.Review.Item.Name)
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserRole)
                    </td>
                    <td>
                        @Html.ValueFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.ValueFor(modelItem => item.ReplyDate, "{0:MMMM dd, yyyy H:mm:ss}")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>