
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Areas/Admin/Views/shared/_layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center border-bottom m-0 p-0 mb-2">
    <h4>Overview</h4>
</div>
<div class="row mt-4 g-3">
    <div class="col-12">
        <p class="text-info fs-5 border-start border-info border-3 ps-3">Yesterday's Statistics (@String.Format("{0:MMMM dd, yyyy}", ViewBag.Yesterday))</p>
    </div>
</div>
<div class="row g-3">
    <div class="col-3">
        <div class="p-3 bg-light shadow">
            <p class="text-secondary border-bottom">Revenue</p>
            <p class="fs-5">₫ @ViewBag.RevenueYesterday.ToString("n0")</p>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 bg-light shadow">
            <p class="text-secondary border-bottom">Spending</p>
            <p class="fs-5">₫ @ViewBag.TotalPurchaseYesterday.ToString("n0")</p>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 bg-light shadow">
            <p class="text-secondary border-bottom">Sales</p>
            <p class="fs-5">₫ @ViewBag.TotalSalesYesterday.ToString("n0")</p>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 bg-light shadow">
            <p class="text-secondary border-bottom">Orders</p>
            <p class="fs-5">@ViewBag.TotalOrderYesterday</p>
        </div>
    </div>
</div>

<div class="row g-3">
    <div class="col-12">
        <div class="p-3 bg-light shadow">
            <p class="text-secondary border-bottom">Items sold yesterday chart</p>
            <canvas class="my-4 w-100" id="itemsSoldYesterdayChart" width="900" height="300"></canvas>
        </div>
    </div>
</div>

<div class="row mt-4 g-3">
    <div class="col-12">
        <p class="text-info fs-5 border-start border-info border-3 ps-3">Total's Statistics</p>
    </div>
</div>
<div class="row g-3">
    <div class="col-3">
        <div class="p-3 bg-light shadow">
            <p class="text-secondary border-bottom">Revenue</p>
            <p class="fs-5">₫ @ViewBag.Revenue.ToString("n0")</p>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 bg-light shadow">
            <p class="text-secondary border-bottom">Spending</p>
            <p class="fs-5">₫ @ViewBag.TotalPurchase.ToString("n0")</p>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 bg-light shadow">
            <p class="text-secondary border-bottom">Sales</p>
            <p class="fs-5">₫ @ViewBag.TotalSales.ToString("n0")</p>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 bg-light shadow">
            <p class="text-secondary border-bottom">Orders</p>
            <p class="fs-5">@ViewBag.TotalOrder</p>
        </div>
    </div>
</div>

<div class="row mt-4 g-3">
    <div class="col-12">
        <div class="p-3 bg-light shadow">
            <p class="text-secondary border-bottom">Total items sold</p>
            <canvas class="my-4 w-100" id="itemsSoldTotalChart" width="900" height="300"></canvas>
        </div>
    </div>
</div>

<div class="row mt-4 g-3">
    <div class="p-3 bg-light shadow">
        <p class="text-secondary fs-5 p-3 border-bottom">@ViewBag.ThisYear Movement</p>
        <canvas class="my-4 w-100" id="revenueYearChart" width="900" height="300"></canvas>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var itemsSoldYesterdayChart_labels = '@ViewBag.ItemsSoldYesterday';
        var itemsSoldYesterdayChart_datas = '@ViewBag.QuantityItemsSoldYesterday';

        var itemsSoldTotalChart_labels = '@ViewBag.ItemsSoldTotal';
        var itemsSoldTotalChart_datas = '@ViewBag.QuantityItemsSoldTotal';

        var salesYearChart_labels = '@ViewBag.MonthOfSalesYear';
        var salesYearChart_datas = '@ViewBag.SalesYear';

        var spendYearChart_labels = '@ViewBag.MonthOfSpendYear';
        var spendYearChart_datas = '@ViewBag.SpendYear';
    </script>
}
