@model MobileShop.Areas.Admin.Models.Item
@using Microsoft.AspNetCore.Identity
@using MobileShop.Areas.Identity.Data

@inject SignInManager<MobileShopUser> SignInManager
@inject UserManager<MobileShopUser> UserManager

@{
    ViewData["Title"] = "MobilePhones Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var reviews = (IEnumerable<MobileShop.Areas.Admin.Models.Review>)ViewBag.Reviews;
    var replies = (IEnumerable<MobileShop.Areas.Admin.Models.Review>)ViewBag.Replies;
    var images = (IEnumerable<MobileShop.Areas.Admin.Models.ItemImage>)ViewBag.Images;
    var subrelatedItems1 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubrelatedItem1;
    var subrelatedItems2 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubrelatedItem2;
    var subrelatedItems3 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubrelatedItem3;
    var subrelatedItems4 = (IEnumerable<MobileShop.Areas.Admin.Models.Item>)ViewBag.SubrelatedItem4;

    List<int> ratingList = new List<int>();
    foreach (var rating in reviews)
    {
        ratingList.Add(rating.Rate);
    }

    int[] ratingArray = ratingList.ToArray();
}
<div class="container product-option border-bottom my-3">
    <div class="card border-0 py-3">
        <div class="row g-2">
            <div class="col-md-5 border-end">
                <div class="main-item-image d-flex justify-content-center align-items-center border border-2 shadow-sm">
                    <img class="img-fluid p-3" src="~/lib/images/@Html.DisplayFor(model => model.Image)" id="main-item-image">
                </div>
                <div class="d-flex justify-content-center align-items-center my-2">
                    @foreach (var image in images)
                    {
                        <img onclick="changeImage(this)" class="img-thumbnail mx-1"
                             src="~/lib/images/@Html.DisplayFor(model => image.Images)">
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3">
                    <h6 class="text-uppercase fw-bold">
                        @Html.DisplayFor(model => model.Name)
                    </h6>
                    <h5>@Html.DisplayFor(model => model.Price) ₫</h5>
                    <div class="row">
                        <span class="mb-2">Quantity</span>
                        <div class="d-flex flex-row justify-content-center w-100">
                            <div class="col input-group mb-3">
                                <input class="btn btn-secondary btn-sm" type='button' id="minus" data-min="0" value='–' />
                                <select class="text-center quantity-control w-25" style="-webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: '';" id="@($"quantity-{@Model.ItemId}")">
                                    @for (var quantity = 0; quantity <= Model.Quantity; quantity++)
                                    {
                                        if (quantity != 1)
                                        {
                                            <option value="@quantity">@quantity</option>
                                        }
                                        else
                                        {
                                            <option value="@quantity" selected>@quantity</option>
                                        }
                                    }
                                </select>
                                <input class="btn btn-secondary btn-sm" type='button' id="plus" data-max="@Model.Quantity" value='+' />
                                @if (Model.Quantity < 10 && Model.Quantity >= 1)
                                {
                                    <small class="text-danger m-auto ms-5">
                                        Only @Html.DisplayFor(modelItem => Model.Quantity) item(s) in stock
                                    </small>
                                }
                                else if (Model.Quantity == 0)
                                {
                                    <small class="text-danger m-auto ms-5">
                                        Out of stock
                                    </small>
                                }
                                else
                                {
                                    <small class="text-muted m-auto ms-5">In Stock</small>
                                }
                            </div>
                        </div>
                    </div>

                    @if (Model.Quantity != 0)
                    {
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="options d-flex flex-row mt-3 gap-3">
                                <button class="btn btn-info w-50 addtocart" data-itemId="@Model.ItemId" data-categoryURL="MobilePhones">
                                    Add to Cart
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="options d-flex flex-row mt-3 gap-3">
                                <a class="btn btn-info w-50" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Detail", "MobilePhones", new { area = "" , id = Model.ItemId})">
                                    Add to Cart
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container product-review border-bottom my-3">
    <div class="card border-0 py-3">
        <div class="row g-2 d-flex justify-content-center">
            <div class="col-md-12 px-4">
                <h5 class="text-left text-secondary">
                    Ratings & Reviews of @Html.DisplayFor(model => model.Name)
                </h5>
                <div class="row text-center">
                    <div class="col-md-3 d-flex flex-column my-auto">
                        <div>
                            <h2 class="text-secondary"><text class="text-warning">@ViewBag.averageRating</text>/5</h2>
                            <div class="average-rating mx-auto mb-1" id="average-rating" data-rate="@ViewBag.averageRating"></div>
                        </div>
                        <h6 class="text-muted">@ViewBag.CountReview Rating(s)</h6>
                    </div>
                    <div class="col-md-6 d-flex flex-column my-auto">
                        <div class="d-flex justify-content-center">
                            <table>
                                <tr>
                                    <td class="rating-label">
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-active"></span>
                                    </td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">@ViewBag.FiveStar</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-inactive"></span>
                                    </td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-4"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">@ViewBag.FourStar</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-inactive"></span>
                                        <span class="fa-solid fa-star star-inactive"></span>
                                    </td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-3"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">@ViewBag.ThreeStar</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-inactive"></span>
                                        <span class="fa-solid fa-star star-inactive"></span>
                                        <span class="fa-solid fa-star star-inactive"></span>
                                    </td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-2"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">@ViewBag.TwoStar</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">
                                        <span class="fa-solid fa-star star-active"></span>
                                        <span class="fa-solid fa-star star-inactive"></span>
                                        <span class="fa-solid fa-star star-inactive"></span>
                                        <span class="fa-solid fa-star star-inactive"></span>
                                        <span class="fa-solid fa-star star-inactive"></span>
                                    </td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-1"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">@ViewBag.OneStar</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="col-md-3 d-flex justify-content-center my-auto" data-bs-toggle="modal" data-bs-target="#ModalReview">
                            <button type="button" class="btn btn-secondary w-75 text-light">Write a Review</button>
                        </div>

                        <!-- Review Modal -->
                        <form asp-area="" asp-controller="MobilePhones" asp-action="SendReview">
                            <div class="modal fade" id="ModalReview" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content rounded-0">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-secondary">Your Review</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card-body text-center">
                                                <img src="~/lib/images/Other/review-png.png" height="100" width="100">
                                                <div class="comment-box text-center">
                                                    <h5 class="text-secondary">Thanks you for sharing your feeling!</h5>

                                                    <div class="mx-auto mb-3" id="rateYo"></div>
                                                    <input type="hidden" name="Rate" id="rating" />

                                                    <div>
                                                        <textarea class="form-control border-warning" name="Comment" placeholder="Write a review here!" rows="4"></textarea>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" value="Send" class="btn btn-warning text-secondary px-5">
                                            <input type="hidden" name="ItemId" value="@Model.ItemId" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="col-md-3 d-flex justify-content-center my-auto">
                            <a class="btn btn-secondary w-75 text-light" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Detail", "MobilePhones", new { area = "" , id = Model.ItemId})">
                                Write a Review
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container border-bottom my-3">
    <div class="row g-2 d-flex justify-content-center editor-form py-3">
        <div class="col-md-12 px-4">
            @Html.Raw(Model.Detail)
        </div>
    </div>
</div>
<div class="container border-bottom my-3">
    <div class="row g-2 d-flex justify-content-center py-3">
        <div class="col-md-12 px-4">
            <h5 class="text-left text-secondary">
                Related Item
            </h5>
            <div>
                <div id="carouselRelatedItems" class="carousel slide carouselItems" data-bs-interval="false" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @if (ViewBag.SubrelatedItem1.Count > 0)
                        {
                            <div class="carousel-item active">
                                <div class="row">
                                    @{
                                        int indexSlide1 = 0;
                                    }
                                    @foreach (var subrelatedItem1 in subrelatedItems1)
                                    {
                                        <div class="col @(indexSlide1 == 0 ? "ms-4" : "")">
                                            <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subrelatedItem1.ItemId">
                                                <img src="@("~/lib/images/" + subrelatedItem1.Image)" asp-append-version="true" class="img-fluid" alt="@subrelatedItem1.Name" />
                                                <h6 class="text-secondary">@Html.DisplayFor(model => subrelatedItem1.Name)</h6>
                                                <p class="text-danger fs-6">@Html.DisplayFor(model => subrelatedItem1.Price) ₫</p>
                                            </a>
                                        </div>
                                        indexSlide1++;
                                    }
                                </div>
                            </div>
                        }
                        @if (ViewBag.SubrelatedItem2.Count > 0)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    @{
                                        int indexSlide2 = 0;
                                    }
                                    @foreach (var subrelatedItem2 in subrelatedItems2)
                                    {
                                        <div class="col @(indexSlide2 == 0 ? "ms-4" : "")">
                                            <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subrelatedItem2.ItemId">
                                                <img src="@("~/lib/images/" + subrelatedItem2.Image)" asp-append-version="true" class="img-fluid" alt="@subrelatedItem2.Name" />
                                                <h6 class="text-secondary">@Html.DisplayFor(model => subrelatedItem2.Name)</h6>
                                                <p class="text-danger fs-6">@Html.DisplayFor(model => subrelatedItem2.Price) ₫</p>
                                            </a>
                                        </div>
                                        indexSlide2++;
                                    }
                                </div>
                            </div>
                        }
                        @if (ViewBag.SubrelatedItem3.Count > 0)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    @{
                                        int indexSlide3 = 0;
                                    }
                                    @foreach (var subrelatedItem3 in subrelatedItems3)
                                    {
                                        <div class="col @(indexSlide3 == 0 ? "ms-4" : "")">
                                            <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subrelatedItem3.ItemId">
                                                <img src="@("~/lib/images/" + subrelatedItem3.Image)" asp-append-version="true" class="img-fluid" alt="@subrelatedItem3.Name" />
                                                <h6 class="text-secondary">@Html.DisplayFor(model => subrelatedItem3.Name)</h6>
                                                <p class="text-danger fs-6">@Html.DisplayFor(model => subrelatedItem3.Price) ₫</p>
                                            </a>
                                        </div>
                                        indexSlide3++;
                                    }
                                </div>
                            </div>
                        }
                        @if (ViewBag.SubrelatedItem4.Count > 0)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    @{
                                        int indexSlide4 = 0;
                                    }
                                    @foreach (var subrelatedItem4 in subrelatedItems4)
                                    {
                                        <div class="col @(indexSlide4 == 0 ? "ms-4" : "")">
                                            <a class="text-decoration-none" asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@subrelatedItem4.ItemId">
                                                <img src="@("~/lib/images/" + subrelatedItem4.Image)" asp-append-version="true" class="img-fluid" alt="@subrelatedItem4.Name" />
                                                <h6 class="text-secondary">@Html.DisplayFor(model => subrelatedItem4.Name)</h6>
                                                <p class="text-danger fs-6">@Html.DisplayFor(model => subrelatedItem4.Price) ₫</p>
                                            </a>
                                        </div>
                                        indexSlide4++;
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselRelatedItems" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselRelatedItems" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container border-bottom my-3">
    @{ int commentbox = 1;}
    @foreach (var review in reviews)
    {
        <div class="row g-2 d-flex justify-content-center py-3">
            <div class="col-md-12 px-4">
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-start">
                            <div class="mb-3">
                                <p class="mb-1">
                                    @if (review.UserRole == "Admin")
                                    {
                                        <span class="text-secondary">
                                            <i class="fa-solid fa-user text-primary"></i>
                                            @Html.DisplayFor(model => review.UserName)
                                        </span>
                                    }
                                    else if (review.UserRole == "Staff")
                                    {
                                        <span class="text-secondary">
                                            <i class="fa-solid fa-user text-info"></i>
                                            @Html.DisplayFor(model => review.UserName)
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="text-secondary">
                                            <i class="fa-solid fa-user text-secondary"></i>
                                            @Html.DisplayFor(model => review.UserName)
                                        </span>
                                    }
                                    <span class="small text-secondary">
                                        - @Html.ValueFor(model => review.CommentDate, "{0:MMMM dd, yyyy H:mm:ss}")
                                    </span>
                                </p>
                                <div class="rating mb-2" id="@review.ReviewId" data-rating="@review.ReviewId" data-rate="@review.Rate"></div>
                                <p class="small mb-0 ms-2">
                                    @Html.DisplayFor(model => review.Comment)
                                </p>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <a class="text-secondary small text-decoration-none comment-box-expand" data-expand="@commentbox" type="button">Reply</a>
                                    <div class="form-comment-box" id="commentbox-@commentbox">
                                        <form asp-area="" asp-controller="MobilePhones" asp-action="Reply">
                                            <div class="comment-box d-flex align-items-center">
                                                <textarea class="w-75 commentBox" placeholder="Reply" name="Comment" id="commentBox" rows="1"></textarea>

                                                <button type="submit" class="btn"><i class="fa-solid fa-reply"></i></button>
                                                <input type="hidden" name="ItemId" value="@Model.ItemId" />
                                                <input type="hidden" name="ReviewId" value="@review.ReviewId" />
                                            </div>
                                        </form>
                                    </div>
                                    commentbox++;
                                }
                                else
                                {
                                    <a class="text-secondary small text-decoration-none" type="button" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Detail", "MobilePhones", new { area = "" , id = Model.ItemId})">Reply</a>
                                }
                                <div class="border-start border-4">
                                    @foreach (var reply in review.Replies)
                                    {
                                        <div class="d-flex flex-start mt-3 ms-5">
                                            <div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p class="mb-1">
                                                        @if (reply.UserRole == "Admin")
                                                        {
                                                            <span class="text-secondary">
                                                                <i class="fa-solid fa-user text-primary"></i>
                                                                @Html.DisplayFor(model => reply.UserName)
                                                            </span>
                                                        }
                                                        else if (reply.UserRole == "Staff")
                                                        {
                                                            <span class="text-secondary">
                                                                <i class="fa-solid fa-user text-info"></i>
                                                                @Html.DisplayFor(model => reply.UserName)
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-secondary">
                                                                <i class="fa-solid fa-user text-secondary"></i>
                                                                @Html.DisplayFor(model => reply.UserName)
                                                            </span>
                                                        }
                                                        <span class="small text-secondary">
                                                            - @Html.ValueFor(model => reply.ReplyDate, "{0:MMMM dd, yyyy H:mm:ss}")
                                                        </span>
                                                    </p>
                                                </div>
                                                <p class="small mb-0">
                                                    @Html.DisplayFor(model => reply.Comment)
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                                @if (review.Replies.Count != 0)
                                {
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a class="text-secondary ms-5 mt-1 small text-decoration-none comment-box-expand" data-expand="@commentbox" type="button">Reply</a>
                                        <div class="form-comment-box ms-5" id="commentbox-@commentbox">
                                            <form asp-area="" asp-controller="MobilePhones" asp-action="Reply">
                                                <div class="comment-box d-flex align-items-center">
                                                    <textarea class="w-75 commentBox" placeholder="Reply" name="Comment" id="commentBox" rows="1"></textarea>

                                                    <button type="submit" class="btn"><i class="fa-solid fa-reply"></i></button>
                                                    <input type="hidden" name="ItemId" value="@Model.ItemId" />
                                                    <input type="hidden" name="ReviewId" value="@review.ReviewId" />
                                                </div>
                                            </form>
                                        </div>
                                        commentbox++;
                                    }
                                    else
                                    {
                                        <a class="text-secondary small text-decoration-none" type="button" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Detail", "MobilePhones", new { area = "" , id = Model.ItemId})">Reply</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissable rounded-0 border-0 shadow-sm show-success-message">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}

@section Scripts {
    <script>
        var ratings = JSON.parse('@Newtonsoft.Json.JsonConvert.SerializeObject(ratingArray)');
    </script>
}
