@model IEnumerable<MobileShop.Areas.Admin.Models.Order>

@using Microsoft.AspNetCore.Identity
@using MobileShop.Areas.Identity.Data
@inject SignInManager<MobileShopUser> SignInManager
@inject UserManager<MobileShopUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/shared/_layout.cshtml";
}

<div class="border-bottom m-0 p-0 mb-2">
    <h5>Order Management / Orders / Details</h5>
</div>

@foreach (var order in Model)
{
    <div class="shadow rounded-0 my-3">
        <div class="d-flex justify-content-between border-bottom py-2 mb-3">
            <h5 class="text-secondary">Order Information</h5>
            @if (SignInManager.IsSignedIn(User) && (Context.User.IsInRole("Staff")))
            {
                <div>
                    @if (order.Status == "To Pack" || order.Status == "Delivering")
                    {
                        <a class="managing text-decoration-none" asp-action="Edit" asp-route-id="@order.OrderId">Edit</a> <span>|</span>
                    }
                    <a class="managing text-decoration-none" asp-action="Index">Back to List</a>
                </div>
            }
            @if (SignInManager.IsSignedIn(User) && (Context.User.IsInRole("Admin")))
            {
                <div>
                    <a class="managing text-decoration-none" asp-action="Index">Back to List</a>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-6">
                <p class="text-secondary fs-6">Order: @Html.DisplayFor(model => order.OrderId)</p>
            </div>
            <div class="col-6">
                <p class="text-secondary fs-6">Status: @Html.DisplayFor(model => order.Status)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="text-secondary fs-6">Name: @Html.DisplayFor(model => order.Name)</p>
            </div>
            <div class="col-6">
                <p class="text-secondary fs-6">Username: @Html.DisplayFor(model => order.UserName)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="text-secondary fs-6">Phone number: @Html.DisplayFor(model => order.PhoneNumber)</p>
            </div>
            <div class="col-6">
                <p class="text-secondary fs-6">Address: @Html.DisplayFor(model => order.Address)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="text-secondary fs-6">Total: @Html.DisplayFor(model => order.Total) ₫</p>
            </div>
            <div class="col-6">
                <p class="text-secondary fs-6">Order Date: @Html.ValueFor(model => order.OrderDate, "{0:MMMM dd, yyyy H:mm:ss}")</p>
            </div>
        </div>
    </div>
}

<div class="table-responsive shadow rounded-0 my-3">
    <h5 class="text-secondary border-bottom py-2 mb-3">Order Details</h5>
    <table class="table table-bordered table-hover table-sm my-3">
        <thead class="sticky-top">
            <tr>
                <th>
                    Item's Information
                </th>
                <th>
                    Image
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                @foreach (var orderdetail in order.OrderDetail)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => orderdetail.Item.Name)
                        </td>
                        <td>
                            <img style="width: 15rem;"
                                 src="@("~/lib/images/" + orderdetail.Item.Image)" asp-append-version="true" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderdetail.Quantity)
                        <td>
                            @Html.DisplayFor(modelItem => orderdetail.Item.Price)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>