@model IEnumerable<MobileShop.Areas.Admin.Models.Order>

@using Microsoft.AspNetCore.Identity
@using MobileShop.Areas.Identity.Data
@inject SignInManager<MobileShopUser> SignInManager
@inject UserManager<MobileShopUser> UserManager

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Areas/Admin/Views/shared/_layout.cshtml";
}

<div class="border-bottom m-0 p-0 mb-2">
    <h5>Order Management / Orders</h5>
</div>

<div class="d-flex justify-content-between m-0 p-0 mb-2">
    <form asp-area="Admin" asp-controller="Orders" asp-action="Index" method="get">
        <div class="input-group">
            <input class="search-field border-0" type="text" placeholder="  Filtering ..." name="SearchString" />
            <button class="btn btn-info text-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
</div>

<div class="table-responsive shadow rounded-0">
    <table class="table table-bordered table-hover table-sm my-3">
        <thead class="sticky-top">
            <tr>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["OrderSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.OrderId)
                    </a>
                </th>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["UserNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.UserName)
                    </a>
                </th>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.Name)
                    </a>
                </th>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["PhoneNumberSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </a>
                </th>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["AddressSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.Address)
                    </a>
                </th>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["TotalSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.Total)
                    </a>
                </th>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["OrderDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </a>
                </th>
                <th>
                    <a class="text-dark text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.Status)
                    </a>
                </th>
                @if (SignInManager.IsSignedIn(User) && (Context.User.IsInRole("Staff") || Context.User.IsInRole("Admin")))
                {
                    <th>
                        Options
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total) ₫
                    </td>
                    <td>
                        @Html.ValueFor(modelItem => item.OrderDate, "{0:MMMM dd, yyyy H:mm:ss}")
                    </td>
                    @if (item.Status == "To Pack")
                    {
                        <td class="text-danger">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    }
                    else if (item.Status == "Delivered")
                    {
                        <td class="text-success">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    }
                    @if (SignInManager.IsSignedIn(User) && (Context.User.IsInRole("Staff")))
                    {
                        <td>
                            @if (item.Status == "To Pack" || item.Status == "Delivering")
                            {
                                <a class="managing text-decoration-none" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
                                <br />
                            }
                            <a class="managing text-decoration-none" asp-action="Details" asp-route-id="@item.OrderId">Detail</a>
                        </td>
                    }
                    @if (SignInManager.IsSignedIn(User) && (Context.User.IsInRole("Admin")))
                    {
                        <td>
                            <a class="managing text-decoration-none" asp-action="Details" asp-route-id="@item.OrderId">Detail</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
