@model MobileShop.Areas.Admin.Models.SalesOrder

@{
    ViewData["Title"] = "Order Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int totalItem = 0;

    var salesOrderDetails = (IEnumerable<MobileShop.Areas.Admin.Models.SalesOrder>)ViewBag.SalesOrderDetail;
}

<div class="mt-4">
    <div class="d-flex justify-content-between">
        <h6 class="text-secondary">
            Order: @Html.DisplayFor(model => model.SalesOrderId) -
            <i>Placed at @Html.ValueFor(model => model.OrderDate, "{0:MMMM dd, yyyy H:mm:ss}")</i>
        </h6>
    </div>
    <div class="row">
        <div class="col-8">
            <form class="form-LSR bg-white mt-1 py-3 px-2">
                <table class="table table-borderless table-hover">
                    @foreach (var salesOrder in salesOrderDetails)
                    {
                        <thead class="border-top">
                            <tr>
                                <th colspan="4"></th>
                            </tr>
                        </thead>
                        @foreach (var orderDetail in salesOrder.SalesOrderDetail)
                        {
                            <tbody>
                                <tr style="font-size: 0.9rem;">
                                    <td class="col-md-2" style="width: 15rem;">
                                        @if (orderDetail.Item.ItemCategory.ItemCategoryId == 4)
                                        {
                                            <a asp-area="" asp-controller="MobilePhones" asp-action="Detail" asp-route-id="@orderDetail.ItemId">
                                                <img src="~/lib/images/@Html.DisplayFor(model => orderDetail.Item.Image)" class="img-fluid rounded-start">
                                            </a>
                                        }
                                        @if (orderDetail.Item.ItemCategory.ItemCategoryId == 5)
                                        {
                                            <a asp-area="" asp-controller="PhoneCases" asp-action="Detail" asp-route-id="@orderDetail.ItemId">
                                                <img src="~/lib/images/@Html.DisplayFor(model => orderDetail.Item.Image)" class="img-fluid rounded-start">
                                            </a>
                                        }
                                        @if (orderDetail.Item.ItemCategory.ItemCategoryId == 6)
                                        {
                                            <a asp-area="" asp-controller="Earphones" asp-action="Detail" asp-route-id="@orderDetail.ItemId">
                                                <img src="~/lib/images/@Html.DisplayFor(model => orderDetail.Item.Image)" class="img-fluid rounded-start">
                                            </a>
                                        }
                                        @if (orderDetail.Item.ItemCategory.ItemCategoryId == 8)
                                        {
                                            <a asp-area="" asp-controller="BackupChargers" asp-action="Detail" asp-route-id="@orderDetail.ItemId">
                                                <img src="~/lib/images/@Html.DisplayFor(model => orderDetail.Item.Image)" class="img-fluid rounded-start">
                                            </a>
                                        }
                                    </td>
                                    <td class="col-md-4">
                                        <p class="m-0">
                                            @Html.DisplayFor(model => orderDetail.Item.Name)
                                        </p>
                                    </td>
                                    <td class="col-md-2">Qty: @Html.DisplayFor(model => orderDetail.Quantity)</td>
                                    @if (orderDetail.Item.Price != orderDetail.Item.PromotionPrice)
                                    {
                                        @if (orderDetail.Item.PromotionBanner.PromotionStartDate <= DateTime.Now && orderDetail.Item.PromotionBanner.PromotionEndDate >= DateTime.Now)
                                        {
                                            <td class="col-md-4"> @Html.DisplayFor(model => orderDetail.Item.PromotionPrice) ₫</td>
                                        }
                                        else
                                        {
                                            <td class="col-md-2"> @Html.DisplayFor(modelItem => orderDetail.Item.Price) ₫</td>
                                        }
                                    }
                                    else
                                    {
                                        <td class="col-md-4"> @Html.DisplayFor(model => orderDetail.Item.Price) ₫</td>
                                    }
                                </tr>
                            </tbody>
                            totalItem += orderDetail.Quantity;
                        }
                    }
                </table>
                <hr>
            </form>
        </div>
        <div class="col-4">
            <div class="col-4 options">
                <table class="table table-borderless border-start lh-1">
                    <tr style="white-space: nowrap; overflow: hidden;">
                        <td class="text-secondary" style="font-size: 0.9rem;">
                            Total(@totalItem item(s))
                        </td>
                        <td>@Html.DisplayFor(model => model.Total) ₫</td>
                    </tr>
                    <tr class="border-top">
                        <td>
                            <form asp-action="Cancel">
                                <input type="hidden" asp-for="SalesOrderId" />
                                <input asp-for="SalesOrderId" class="form-control" readonly="readonly" hidden />
                                <input asp-for="UserName" class="form-control" readonly="readonly" hidden />
                                <input asp-for="Name" class="form-control" readonly="readonly" hidden />
                                <input asp-for="PhoneNumber" class="form-control" readonly="readonly" hidden />
                                <input asp-for="Address" class="form-control" readonly="readonly" hidden />
                                <input asp-for="Total" class="form-control" readonly="readonly" hidden />
                                <input asp-for="OrderDate" class="form-control" readonly="readonly" hidden />
                                <input asp-for="Status" class="form-control" value="Cancelled" hidden />
                                <input type="submit" value="Cancel" class="btn btn-info w-100 px-5 py-2 text-white" />
                            </form>
                        </td>
                        <td>
                            <a class="btn btn-secondary px-5 py-2 text-white" asp-action="Index">Return</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>