@model MobileShop.Areas.Admin.Models.MobilePhone

@{
    ViewData["Title"] = "Delete Mobile Phones";
    Layout = "~/Areas/Admin/Views/shared/_layout.cshtml";
}


<div class="border-bottom m-0 p-0 mb-2">
    <h5>Item Management / Mobile Phones / Delete</h5>
</div>

<div class="row">
    <div class="col-md-10">
        <dl class="row p-2">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ItemId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Item.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Screen)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Screen)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.MainCamera)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.MainCamera)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.SelfieCamera)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SelfieCamera)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.OS)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.OS)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Chipset)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Chipset)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CPU)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CPU)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.GPU)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.GPU)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.RAM)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RAM)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Storage)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Storage)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.SIM)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SIM)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Pin)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Pin)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>
        </dl>

        <form asp-action="Delete">
            <dl class="row p-2">
                <dt class="col-sm-4">
                    <input type="hidden" asp-for="MobilePhoneId" />
                    <input type="submit" value="Delete" class="btn btn-info w-100 text-white" />
                </dt>
                <dd class="col-sm-4">
                    <a class="btn btn-secondary w-100 text-white" asp-action="Index">Back to List</a>
                </dd>
            </dl>
        </form>
    </div>
</div>
