@model List<MobileShop.Models.CartItem>

@{
    ViewData["Title"] = "Cart Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count > 0)
{
    decimal subtotal = 0;

    <div class="row">
        <div class="col-8">
            <table class="table lh-sm">
                @foreach (var cartItem in Model)
                {
                    <tr class="row">
                        <td class="d-flex justify-content-start col-7" style="font-size: 0.9rem;">
                            <img class="me-2" style="width: 7rem;" src="~/lib/images/@Html.DisplayFor(modelItem => cartItem.Item.Image)">
                            <text>
                                <p class="mb-2">
                                    @Html.DisplayFor(modelItem => cartItem.Item.Name)
                                </p>
                                @if (cartItem.Item.Quantity < 10 && cartItem.Item.Quantity >= 1)
                                {
                                    <p class="text-danger mb-2">Only @Html.DisplayFor(modelItem => cartItem.Item.Quantity) item(s) in stock</p>
                                }
                                else if (cartItem.Item.Quantity == 0)
                                {
                                    <p class="text-danger mb-2">Out of stock</p>
                                }
                                else
                                {
                                    <p></p>
                                }
                            </text>

                        </td>
                        <td class="col-2">
                            <div class="input-group">
                                <input class="btn btn-secondary btn-sm" type='button' id="minus" data-min="0" value='–' />
                                <select class="text-center quantity-control w-50" style="-webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: '';" asp-for="@cartItem.Quantity" id="@($"quantity-{cartItem.Item.ItemId}")">
                                    @for (var quantity = 0; quantity <= cartItem.Item.Quantity; quantity++)
                                    {
                                        <option value="@quantity">@quantity</option>
                                    }
                                </select>
                                <input class="btn btn-secondary btn-sm" type='button' id="plus" data-max="@cartItem.Item.Quantity" value='+' />
                            </div>
                        </td>
                        <td class="d-flex flex-column justify-content-between text-end col-3">
                            <span>@Html.DisplayFor(modelItem => cartItem.Item.Price) ₫</span>
                            <span>
                                <button class="btn text-secondary updatecartitem"
                                        data-itemId="@cartItem.Item.ItemId">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <a asp-area="" asp-controller="Cart" asp-action="RemoveCart"
                                   asp-route-itemId="@cartItem.Item.ItemId" class="btn text-secondary">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-4">
            <table class="table table-borderless border-start lh-sm">
                <tr>
                    <td><b>Order Summary</b></td>
                </tr>
                @foreach (var cartItem in Model)
                {
                    var totalPrice = cartItem.Quantity * cartItem.Item.Price;
                    subtotal += totalPrice;
                    <tr>
                        <td class="text-secondary" style="font-size: 0.9rem;">
                            @Html.DisplayFor(modelItem => cartItem.Item.Name)
                            <br />
                            @cartItem.Quantity item(s)
                        </td>
                        <td>@(totalPrice.ToString("n0")) ₫</td>
                    </tr>
                }
                <tr>
                    <td class="text-secondary">Total</td>
                    <td>@(subtotal.ToString("n0")) ₫</td>
                </tr>

                <tr class="border-top">
                    <td colspan="2">
                        <a asp-area="" asp-controller="CheckOut" asp-action="CheckOut" class="btn btn-info text-light">
                            Confirm Cart
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
else
{
    <div class="row">
        <p class="text-secondary col d-flex justify-content-center align-items-center">
            <span>
                Your cart is empty <i class="fa-solid fa-circle-xmark text-danger"></i>
            </span>
        </p>
    </div>
    <div class="row d-flex justify-content-center">
        <a class="btn btn-info col-2 text-decoration-none text-light" asp-area="" asp-controller="Home" asp-action="Index">
            <span>
                Go Shopping <i class="fa-solid fa-cart-arrow-down"></i>
            </span>
        </a>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissable rounded-0 border-0 shadow-sm show-success-message">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}